      <div class="text-center">
        <p>
          &copy; Copyrights <strong>Dashio</strong>. All Rights Reserved
        </p>
        <div class="credits">
          More Templates <a href="/static/admin/http://www.cssmoban.com/" target="_blank" title="模板之家"></a> - Collect from <a href="/static/admin/http://www.cssmoban.com/" title="网页模板" target="_blank"></a>
        </div>
        <a href="/static/admin/basic_table.html#" class="go-top">
          <i class="fa fa-angle-up"></i>
          </a>
      </div>