    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered">
            <a href="javascript:void(0);"><img src="/static/admin/img/ui-divya.jpg" class="img-circle" width="80"></a>
          </p>
          <h5 class="centered">管理员</h5>
<!--           <li class="mt">
            <a href="/static/index//index.html">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li> -->
          <li class="sub-menu">
            <a href="/static/index//javascript:;">
              <i class="fa fa-desktop"></i>
              <span>广告管理</span>
              </a>
            <ul class="sub">
              <li>
                <a href="/index/index/subnews.html">添加广告</a>
              </li>
            <!--
              <li>
                <a href="/index/index/hostf.html">添加广告</a>
              </li>
            -->
              <li>
                <a href="/index/index/myList.html">广告列表</a>
              </li>
              <!--
              <li>
                <a href="/index//mylist.html">列表</a>
              </li>
              -->
            </ul>
          </li>
        <!--
          <li class="sub-menu">
            <a href="/static/index//javascript:;">
              <i class="fa fa-cogs"></i>
              <span>用户反馈</span>
              </a>
            <ul class="sub">
              <li>
                <a href="/index//backlist.html">列表</a>
              </li>
            </ul>
          </li>
        -->
<!--           <li class="sub-menu">
            <a href="/static/index//javascript:;">
              <i class="fa fa-cogs"></i>
              <span>Components</span>
              </a>
            <ul class="sub">
              <li>
                <a href="/static/index//grids.html">Grids</a>
              </li>
              <li>
                <a href="/static/index//calendar.html">Calendar</a>
              </li>
              <li>
                <a href="/static/index//gallery.html">Gallery</a>
              </li>
              <li>
                <a href="/static/index//todo_list.html">Todo List</a>
              </li>
              <li>
                <a href="/static/index//dropzone.html">Dropzone File Upload</a>
              </li>
              <li>
                <a href="/static/index//inline_editor.html">Inline Editor</a>
              </li>
              <li>
                <a href="/static/index//file_upload.html">Multiple File Upload</a>
              </li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="/static/index//javascript:;">
              <i class="fa fa-book"></i>
              <span>Extra Pages</span>
              </a>
            <ul class="sub">
              <li>
                <a href="/static/index//blank.html">Blank Page</a>
              </li>
              <li>
                <a href="/static/index//login.html">Login</a>
              </li>
              <li>
                <a href="/static/index//lock_screen.html">Lock Screen</a>
              </li>
              <li>
                <a href="/static/index//profile.html">Profile</a>
              </li>
              <li>
                <a href="/static/index//invoice.html">Invoice</a>
              </li>
              <li>
                <a href="/static/index//pricing_table.html">Pricing Table</a>
              </li>
              <li>
                <a href="/static/index//faq.html">FAQ</a>
              </li>
              <li>
                <a href="/static/index//404.html">404 Error</a>
              </li>
              <li>
                <a href="/static/index//500.html">500 Error</a>
              </li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="/static/index//javascript:;">
              <i class="fa fa-tasks"></i>
              <span>Forms</span>
              </a>
            <ul class="sub">
              <li>
                <a href="/static/index//form_component.html">Form Components</a>
              </li>
              <li>
                <a href="/static/index//advanced_form_components.html">Advanced Components</a>
              </li>
              <li>
                <a href="/static/index//form_validation.html">Form Validation</a>
              </li>
            </ul>
          </li>
          <li class="sub-menu">
            <a class="active" href="/static/index//javascript:;">
              <i class="fa fa-th"></i>
              <span>Data Tables</span>
              </a>
            <ul class="sub">
              <li class="active">
                <a href="/static/index//basic_table.html">Basic Table</a>
              </li>
              <li>
                <a href="/static/index//responsive_table.html">Responsive Table</a>
              </li>
              <li>
                <a href="/static/index//advanced_table.html">Advanced Table</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/static/index//inbox.html">
              <i class="fa fa-envelope"></i>
              <span>Mail </span>
              <span class="label label-theme pull-right mail-info">2</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="/static/index//javascript:;">
              <i class=" fa fa-bar-chart-o"></i>
              <span>Charts</span>
              </a>
            <ul class="sub">
              <li>
                <a href="/static/index//morris.html">Morris</a>
              </li>
              <li>
                <a href="/static/index//chartjs.html">Chartjs</a>
              </li>
              <li>
                <a href="/static/index//flot_chart.html">Flot Charts</a>
              </li>
              <li>
                <a href="/static/index//xchart.html">xChart</a>
              </li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="/static/index//javascript:;">
              <i class="fa fa-comments-o"></i>
              <span>Chat Room</span>
              </a>
            <ul class="sub">
              <li>
                <a href="/static/index//lobby.html">Lobby</a>
              </li>
              <li>
                <a href="/static/index//chat_room.html"> Chat Room</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/static/index//google_maps.html">
              <i class="fa fa-map-marker"></i>
              <span>Google Maps </span>
              </a>
          </li> -->
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>