<div class="Bigbox">
	<div class="container">
		<div class="container_loc" rel="{$type}">
			<span>当前位置：首页 &gt; <span class="bread_title">{$name}</span> </span>
		</div>
		<div class="main">
			<div class="left">
				<div class="htmlLoad">
				</div>
				<div id="loadmore">
					<span>加载更多</span>
				</div>
			</div>
			<div class="right">
				<div class="right_three lanmu1">
					<h3>推荐预测</h3>
					<ul class="_type1"></ul>
				</div>
				<div class="right_two">
					<div class="right_img1">
						<a href="//1682018.cn/view/jisusaiche/pk10kai.html" target="_blank" class="news_ad">
							<img src="/static/lhc/img/tubiao.png?v=201912131838">
						</a>
					</div>
				</div>
				<div class="right_three lanmu2">
					<h3>专家心水</h3>
					<ul class="_type1">
					</ul>
				</div>	
			</div>
		</div>
	</div>
</div>